body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.admin-list {
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 26px;
    color: #ff6e6e;
    margin-bottom: 30px;
}

.admin-list>a {
    display: block;
    padding: 20px;
}