{% extends 'layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>名字</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td><button class="btn btn-danger">删除</button></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">暂无用户</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js %}{% endblock%}