{% extends 'layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>名字</th>
            <th>时间</th>
            <th>权限权重</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{moment(item.meta.createAt).format('YYYY-MM-DD HH:mm:ss')}}</td>
            <td>{{item.role}}</td>
            <td><button class="btn btn-danger j-delete-user" data-id="{{item._id}}">删除</button></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">暂无用户</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js %}
<script>
    $(function(){
        $('.j-delete-user').click(function(){
            var $this = $(this);
            var id = $(this).data('id');
            $.ajax({
                url: '/admin/users/' + id,
                method: 'DELETE'
            })
            .done(function(data){
                console.log(data)
                if(data.success){
                    $this.closest('tr').remove();
                }
            })
            .error(function(error){
                console.log(error)
            })
        })
    })
</script>
{% endblock%}