{% extends './layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            <li role="presentation" class="active">
                <a href="#advantage" aria-controls="advantage" role="tab" data-toggle="tab">我的优势</a>
            </li>
            <li role="presentation">
                <a href="#homepage" aria-controls="homepage" role="tab" data-toggle="tab">社交主页</a>
            </li>
            <li role="presentation">
                <a href="#experiences" aria-controls="experiences" role="tab" data-toggle="tab">工作经历</a>
            </li>
            <li role="presentation">
                <a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">项目经验</a>
            </li>
            <li role="presentation">
                <a href="#schools" aria-controls="schools" role="tab" data-toggle="tab">教育经历</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="advantage">
                <table class="table table-hover table-bordered">
                    <caption>我的优势</caption>
                    <thead>
                        <tr>
                            <th>索引</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in advantage -%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{item.text}}</td>
                            <td>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                        {%- else %}
                        <tr>
                            <td colspan="3">暂未填写</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="homepage">
                <table class="table table-hover table-bordered">
                    <caption>社交主页</caption>
                    <thead>
                        <tr>
                            <td>索引</td>
                            <td>内容</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in homepages -%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>
                                <a href="{{item.url}}" target="_blank">{{item.title or item.url}}</a>
                            </td>
                            <td>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                        {%- else %}
                        <tr>
                            <td colspan="3">暂未填写</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="experiences">
                <table class="table table-hover table-bordered">
                    <caption>工作经历</caption>
                    <thead>
                        <tr>
                            <td>索引</td>
                            <td>标题</td>
                            <td>内容</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in experiences -%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{item.title}}
                                <small>{{item.stayed}}</small>
                            </td>
                            <td>{{item.content}}</td>
                            <td>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                        {%- else %}
                        <tr>
                            <td colspan="4">暂未填写</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="projects">
                <table class="table table-hover table-bordered">
                    <caption>项目经验</caption>
                    <thead>
                        <tr>
                            <td>索引</td>
                            <td>内容</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in projects -%}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{item.title}}</td>
                            <td>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                        {%- else %}
                        <tr>
                            <td colspan="3">暂未填写</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="schools">
                <table class="table table-hover table-bordered">
                    <caption>教育经历</caption>
                    <thead>
                        <tr>
                            <td>索引</td>
                            <td>学校-学历</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>武汉职业技术学院——大专</td>
                            <td>
                                <button class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}
{% block js %}{% endblock %}