{% extends './layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="blackmainlist">
    <div class="blackmainitem">
        <div class="blogtitle">
            <div class="blogtitletext">
                <a href="/">浅笔静开，寂若安年</a>
            </div>
            <small>(2017-12-10 23:30)</small>
        </div>
        <div class="blogtags">
            <span class="blogtagsitem">
                <em>标签：</em>
                <a href="/">日记</a>
            </span>
            <div class="blogtagsitem">
                <em>分类：</em>
                <a href="/">日记</a>
                <a href="/">情感</a>
            </div>
        </div>
        <div class="blogcontent">
            <p>于晌，默默翻开被记忆串开的碎片，许是习惯了不闻不问的静然，已是许久没有在素纸上敲下自己点点生活的斑斑驳驳，不知这些文字到来的太早抑或迟到，只是想写了，想念了，想像个老人一样在寂若安年的岁月里默念了，静静的坐在书桌旁，反复听一首曲子缓缓滑过心际，不由的有些心痒，浅笔静开，一些散落的思绪，也便因了柔软而温润成脉脉的流，逐一与灵魂对语，而这一刻，恰恰是一天中最美妙的时光••••</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(function(){
        // console.log('done')
        // $.ajax({
        //     url: '/string'
        // })
        // .done(data => {
        //     console.log(data)
        // })
    })
</script>
{% endblock %}