{% extends './layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="blackmainlist">
    <div class="blackarticles">
        <div class="article clearfix">
            <div class="articleinfo"><a href="/detail/333">jQuery哈哈哈哈</a></div>
            <small class="fr">2017-12-15 15: 30</small>
        </div>
        <div class="article clearfix">
            <div class="articleinfo">
                <a href="/">jQuery哈哈哈哈</a>
            </div>
            <small class="fr">2017-12-15 15: 30</small>
        </div>
        <div class="article clearfix">
            <div class="articleinfo">
                <a href="/">jQuery哈哈哈哈</a>
            </div>
            <small class="fr">2017-12-15 15: 30</small>
        </div>
        <div class="article clearfix">
            <div class="articleinfo">
                <a href="/">jQuery哈哈哈哈</a>
            </div>
            <small class="fr">2017-12-15 15: 30</small>
        </div>
    </div>
    <div class="blackpages clearfix">
        <ul class="fr">
            <li>1</li>
            <li>
                <a href="/">2</a>
            </li>
            <li>
                <a href="/">3</a>
            </li>
            <li>
                <a href="/">下一页</a>
            </li>
            <li>共1页</li>
        </ul>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(function(){
        // console.log('done')
        // $.ajax({
        //     url: '/string'
        // })
        // .done(data => {
        //     console.log(data)
        // })
    })
</script>
{% endblock %}