{% extends './layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="blackmainlist">
    
    <div class="blackpages clearfix">
        <ul class="fr">
            <li>1</li>
            <li>
                <a href="/">2</a>
            </li>
            <li>
                <a href="/">3</a>
            </li>
            <li>
                <a href="/">下一页</a>
            </li>
            <li>共1页</li>
        </ul>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(function(){
        // console.log('done')
        // $.ajax({
        //     url: '/string'
        // })
        // .done(data => {
        //     console.log(data)
        // })
    })
</script>
{% endblock %}