{% extends 'layout.html' %} {% block css %}{% endblock %} {% block content %}
<h1>关于我
    <small>About Me</small>
</h1>
<h3>我的优势</h3>
<div>
    <ol>
        <li>四年以上Web前端开发的相关经验</li>
        <li>熟悉WEB开发相关的Html5、JavaScript、Ajax、DIV+CSS、JQuery等常用语言</li>
        <li>良好的沟通与表达能力、思路清晰，较强的动手能力与逻辑分析能力</li>
        <li>有解决问题和钻研新技术的兴趣和能力。喜欢挑战新技术和挑战自我</li>
        <li>能使用react相关技术搭建spa应用</li>
        <li>能使用vue构建项目</li>
    </ol>
</div>
<h3>社交主页</h3>
<p>
    <ul>
        <li>
            <a href="http://www.blacklove.cn" target="_blank">我的主页</a>
        </li>
        <li>
            <a href="http://www.github.com/springxiege" target="_blank">我的github地址</a>
        </li>
        <li>
            <a href="http://springxiege.github.io" target="_blank">我的个人博客地址(github)</a>
        </li>
        <li>
            <a href="http://springxiege.gitee.io" target="_blank">我的个人博客地址(oschina)</a>
        </li>
    </ul>
</p>
<h3>工作经历</h3>
<div>
    <p>
        <ol>
            <li>杭州十禾信息科技有限公司
                <small>2016.11-至今</small>
            </li>
            <li>杭州可乐视媒网络技术有限公司
                <small>2015.10-2016.10</small>
            </li>
            <li>杭州启博科技有限公司
                <small>2014.04-2015.09</small>
            </li>
            <li>浙江灵岩文化创意有限公司
                <small>2013-2014</small>
            </li>
        </ol>
    </p>
</div>
<h3>项目经验</h3>
<div>
    <p>
        <ul>
            <li>云智绘项目</li>
            <li>AE系统(类CRM系统)</li>
            <li>云智准项目(淘宝钻展)</li>
            <li>云智投重构(使用React技术栈，淘宝直通车)</li>
            <li>云智投维护与扩展(淘宝直通车)</li>
            <li>小觅淘项目(我要联赢电商项目)</li>
            <li>微网页维护与扩展(我要联赢营销工具)</li>
            <li>富阳西灵隐寺众筹项目</li>
            <li>微分销维护与扩展</li>
            <li>启分销维护与扩展</li>
        </ul>
    </p>
</div>
<h3>教育经历</h3>
<div>
    <ul>
        <li>武汉职业技术学院——大专</li>
    </ul>
</div>
{% endblock %} {% block js %}
<script>
    $(function () {
        console.log('done')
    })
</script> {% endblock %}